.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h2, h3 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

button[type="button"] {
  background-color: #6c757d;
}

button[type="button"]:hover {
  background-color: #5a6268;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

input[type="text"], input[type="file"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
}

input[type="text"]:focus, input[type="file"]:focus {
  border-color: #007bff;
  outline: none;
}

/* Formulario */
.form-container {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-container form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-container input[type="file"] {
  padding: 5px;
  font-size: 14px;
}

/* Lista de productos */
.product-list {
  margin-top: 40px;
}

.product-item {
  background-color: #fff;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.product-details {

  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 10px;
}

.product-details p {
  flex: 1 1 30%;
  font-size: 14px;
  margin: 0;
  word-wrap: break-word;
}

.product-actions {
  display: flex;
  gap: 10px;
}

.product-item img {
  width: 100%;
  height: auto;
  max-height: 200px;
  object-fit: cover;
  margin-top: 15px;
  border-radius: 8px;
}

.product-item .product-actions button {
  padding: 5px 12px;
  font-size: 12px;
  width: 100px;
}

@media (max-width: 768px) {
  .product-details {
    flex-direction: column;
    gap: 10px;
  }
}