 
.customizar-barra-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end; 
  z-index: 9999;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 70%;  
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 1; 
}
 
.customizar-barra {
  width: 30%;
  max-width: 100%;
  height: 100%;
  background: white;
  padding: 20px;
  overflow-y: auto;
  position: relative;
  display: flex;
  flex-direction: column;  
  z-index: 2;
}
 
.cerrar-btn {
  z-index:10;
  position: absolute;
  right: 10px;
  top:10px;
  background: transparent;
  border: none;
  font-size: 25px;
  padding: 5px;
  margin:0px;
}

.cerrar-btn:hover {
  background-color: red;  
}
 


.cs-categoria {
  margin-bottom: 20px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column; 
}

.cs-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 6px 0;
}

.cs-item label {
  display: flex;
  align-items: center;
  width: 100%;
  cursor: pointer;
}


.cs-extra {
  color: #d70000;
  margin-left: 5px;
  font-weight: bold;
}
 
.cantidad-box {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 10px 0;
  justify-content: center;
}

.cantidad-box button {
  padding: 6px 12px;
  font-size: 16px;
}
 
.confirm-btn {
  width: 100%;
  padding: 12px;
  background: #d70000;
  border: none;
  color: white;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: auto;  
}

.confirm-btn:hover {
  background: #a50000;
}
 
.customizar-barra::-webkit-scrollbar {
  width: 6px;
}

.customizar-barra::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 8px;
}

.customizar-barra::-webkit-scrollbar-thumb:hover {
  background: #777;
}


@media (max-width: 768px) { 
  
  .customizar-barra {
    width: 100%;  
    max-width: 100%;
    padding: 15px; 
  } 
  .cantidad-box button, 
  .confirm-btn {
    padding: 12px;  
  }

  .cerrar-btn {
    font-size: 28px;  
    top: 15px;
    right: 15px;
  }
   
  .steps-indicator small {
      font-size: 0.7rem;
  }
}