.hero-grid-container {
  display: grid;
  width: 100%;
  height: 550px; 
  gap: 8px;      
  padding: 10px; 
  box-sizing: border-box;
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr;  
  grid-template-areas:
    "carousel carousel item1 item2"
    "carousel carousel item3 item4";
}
/*  izquierda */
.grid-area-carousel { 
  grid-area: carousel; 
  border-radius: 10px; 
  overflow: hidden; 
  position: relative;
}
/*  bloques pequeños */
.grid-area-1 { grid-area: item1; }
.grid-area-2 { grid-area: item2; }
.grid-area-3 { grid-area: item3; }
.grid-area-4 { grid-area: item4; }

.grid-item-container {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;  
  background-color: #f0f0f0;  
  cursor: pointer;
}
.grid-img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  transition: transform 0.5s ease; / 
}
.grid-item-container:hover .grid-img {
  transform: scale(1.1);
}
.grid-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
  background: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.8) 100%);
  pointer-events: none;
}

 
.grid-text-top {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 2;
  text-align: left;
} 
.grid-text-top h5 {
  margin: 0;
  color: white;
  font-weight: 700;
  text-shadow: 1px 1px 5px rgba(0,0,0,0.8);
  font-size: 1.1rem;
  text-transform: capitalize;
}

.grid-badge {
  font-size: 0.75rem;
  font-weight: bold;
  padding: 3px 8px;
  border-radius: 4px;
  color: rgb(0, 0, 0);
  display: inline-block;
  margin-bottom: 5px; 
}

/*etiquetas */
.badge-oferta { 
    background-color: #dc3545; }  
.badge-popular { 
    background-color: #ffc107;
 }  

/*precio  inferior izquierda */
.grid-price-tag {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: rgb(138, 252, 16);
  font-weight: bold;
  font-size: 20px; 
  z-index: 2;
}

/*boton inferior derecha*/
.grid-btn-ver {
  position: absolute;
  bottom: 15px;
  right: 15px;
  background-color: white;
  color: black;
  border: none;
  padding: 5px 15px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 17px ;
  opacity: 0.9;
  transition: all 0.3s ease;
  z-index: 3;
  text-decoration: none;
}

.grid-item-container:hover .grid-btn-ver {
  background-color: #dc3545;  
  color: white;
  opacity: 1;
  text-decoration: none;
}

 
@media (max-width: 992px) {
  .hero-grid-container {
    height: auto; 
    display: flex;
    flex-direction: column;  
  }

  .grid-area-grande {
    height: 350px;  
    width: 100%;
  }

  /* los cuadros pequeño*/
  .grid-area-1, .grid-area-2, .grid-area-3, .grid-area-4 {
    height: 200px;
    width: 100%;
  }
}