@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Open+Sans:wght@400;600;700&display=swap");

 
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
 

body {
  font-family: "Open Sans", sans-serif;
  color: #0c0c0c;
  background-color: #f8f8f8;
  overflow-x: hidden;
}

 

 



h1,
h2 ,h3,span{
  font-family: 'Luckiest Guy', cursive;
}


 
 
.menuTitulo{
  font-size: 60px;
} 
 
 
 
.seccion_oferta {
  position: relative;
 
}

.seccion_oferta .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 45px;
  border-radius: 5px;
  padding: 20px 15px;
  background-color: #222831;
  color: #ffffff;
}

.seccion_oferta .box .caja-img {
  width: 175px;
  min-width: 175px;
  height: 175px;
  margin-right: 15px;
  position: relative;
  -webkit-transition: all 0.1 0.5s;
  transition: all 0.1 0.5s;
  border-radius: 100%;
  border: 5px solid #f53d3d;
  overflow: hidden;
}

.seccion_oferta .box .caja-img img {
  width: 100%;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.seccion_oferta .box .detalle-caja h5 {
  font-family: 'Dancing Script', cursive;
  font-size: 24px;
  margin: 0;
}

.seccion_oferta .box .detalle-caja h6 {
  font-family: 'Dancing Script', cursive;
  margin: 10px 0;
}

.seccion_oferta .box .detalle-caja h6 span {
  font-size: 2.5rem;
  font-weight: bold;
}

.seccion_oferta .box .detalle-caja a {
  display: inline-block;
  padding: 10px 30px;
  background-color: #f53d3d;
  color: #ffffff;
  border-radius: 45px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
}

.seccion_oferta .box .detalle-caja a:hover {
  background-color: #f53d3d;
}

.seccion_oferta .box .detalle-caja a svg {
  width: 20px;
  height: auto;
  margin-left: 5px;
  fill: #ffffff;
}

.seccion_oferta .box:hover .caja-img img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.carrito_contenido{
  display: flex;
  justify-content: center;
  align-items: center;
  
 
}

.img_carta{
  width: 100%;
  height: 150px;
  object-fit: contain;
  margin-top: 8px;
  
}
.img_carta:hover{
  transform: scale(1.1);
  transition: 1.5s;
}

.card{
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 10px;
}
.card:hover{
   transition: scale(1.05);
   box-shadow: 0 8px 16px ;
}




.seccion_comida .filtro_menu {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
 
  margin: 45px 0 20px 0;
}

.seccion_comida .filtro_menu li {
  padding: 7px 25px;
  cursor: pointer;
  border-radius: 25px;
}

.seccion_comida .filtro_menu li.active {
  background-color: #f53d3d;
  color: #ffffff;
}

.seccion_comida .box {
  position: relative;
  margin-top: 25px;
  background-color: #ffffff;
  border-radius: 10px;
  color: #ffffff;
  border-radius: 15px;
  overflow: hidden;
  background: linear-gradient(to bottom, #f1f2f3 25px, #222831 25px);
}

ul{
  list-style-type:none ;
}

.seccion_comida .box .caja-img {
  background: #f1f2f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 215px;
  border-radius: 0 0 0 45px;
  margin: -1px;
  padding: 25px;
}

.seccion_comida .box .caja-img img {
  max-width: 100%;
  max-height: 145px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.seccion_comida .box .detalle-caja {
  padding: 25px;
}

.seccion_comida .box .detalle-caja h5 {
  font-weight: 600;
}

.seccion_comida .box .detalle-caja p {
  font-size: 15px;
}

.seccion_comida .box .detalle-caja h6 {
  margin-top: 10px;
}

.seccion_comida .box .opciones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.seccion_comida .box .opciones a {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: #f53d3d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.seccion_comida .box .opciones a svg {
  width: 18px;
  height: auto;
  fill: #ffffff;
}

.seccion_comida .box:hover .caja-img img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.seccion_comida .boton-caja {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 45px;
}

.seccion_comida .boton-caja a {
  display: inline-block;
  padding: 10px 55px;
  background-color: #f53d3d;
  color: #ffffff;
  border-radius: 45px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
}

.seccion_comida .boton-caja a:hover {
  background-color: #f53d3d;
}

.seccion_sobre {
  background: #222831;
  color: #ffffff;
 
  
}

.seccion_sobre .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.seccion_sobre .caja-img {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.seccion_sobre .caja-img img {
  width: 100%;
  max-width: 445px;
  position: relative;
  z-index: 2;
}

.seccion_sobre .detalle-caja p {
  margin-top: 15px;
}

.seccion_sobre .detalle-caja a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #f53d3d;
  color: #ffffff;
  border-radius: 45px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
  margin-top: 15px;
}

.seccion_sobre .detalle-caja a:hover {
  background-color: #f53d3d;
}

.reserva_seccion {
  position: relative;
}

.reserva_seccion .contenido_titulo {
  margin-bottom: 25px;
}
 
 
/* footer section*/
.seccion_pie {
  background-color: #212121;
  color: #ffffff;
  padding: 75px 0 40px 0;
  text-align: center;
}

.seccion_pie h4 {
  font-size: 28px;
}

.seccion_pie h4,
.seccion_pie .footer-logo {
  font-weight: 600;
  margin-bottom: 20px;
  font-family: 'Dancing Script', cursive;
}

.seccion_pie p {
  color: #dbdbdb;
}

.seccion_pie .pie_colum {
  margin-bottom: 30px;
}

.seccion_pie .contacto_pie .contact_link_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.seccion_pie .contacto_pie .contact_link_box a {
  margin: 5px 0;
  color: #ffffff;
}

.seccion_pie .contacto_pie .contact_link_box a i {
  margin-right: 5px;
}

.seccion_pie .contacto_pie .contact_link_box a:hover {
  color: #f53d3d;
}

.seccion_pie .footer-logo {
  display: block;
  font-weight: bold;
  font-size: 38px;
  line-height: 1;
  color: #ffffff;
}

.seccion_pie .redes_pie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.seccion_pie .redes_pie a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #222831;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: #ffffff;
  border-radius: 100%;
  margin: 0 2.5px;
  font-size: 18px;
}

.seccion_pie .redes_pie a:hover {
  color: #f53d3d;
}

.seccion_pie .informacion_pie {
  text-align: center;
  margin-top: 25px;
}

.seccion_pie .informacion_pie p {
  color: #ffffff;
  margin: 0;
}

.seccion_pie .informacion_pie p a {
  color: inherit;
}
 






/*producto completo*/
.vistaProducto{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 150px;
  gap: 15px;
  max-width: 900px;
  margin: 0 auto;
}

.ropaPricipal{
  display: flex;
  flex: 1;
  min-width: 200px;
  max-width: 350px;
 justify-content: center;
 background-color: #ffffff;
 border-radius: 8px;
 padding: 15px;
}
.principalimg{
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: contain;
}

.textoVistaProducto{
  display: flex;
  flex: 1;
  min-width: 200px;
  max-width: 380px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

.titulosProductos h1{
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-top: 5px;
}
 
.textoVistaProducto h1{
  font-size: 40px;
  margin-bottom: 10px;
}

 .botonVista{
  text-align: center;
  margin-top: 20px;
 }

.botonVista button{
  margin-top: 10px;
  background-color: #e93030;
  color: #ffffff;
  font-size: 14px;
  padding: 10px 20px;
  border-radius: 5px;

 }

.botonVista button:hover{
  background-color: #7a0606;
  transition: 0.3s;
}

 @media(max-width: 768px){
  .vistaProducto{
    flex-direction: column;
    align-items: center;
  }

  .ropaPricipal, .textoVistaProducto{
    max-width: 90%;
    margin-bottom: 20px;
  }
  
 }

@media (max-width: 600px) {
  

  .titulosProductos h1 {
    font-size: 22px;
  }

  .botonVista button {
    font-size: 14px;
    padding: 8px 16px;
  }
}





/*oferta*/
 
 .area_producto_oferta {
  display: block;
 
}

 
.area_producto_oferta .contenido_producto_oferta {
  display: flex;  
  flex-wrap: wrap; 
}

.area_producto_oferta .contenido_producto_oferta .producto_producto_oferta {
  position: relative;
  width: 50%;  
  padding: 0;   
}

.imagen_producto_oferta img {
  width: 100%;
  transition: 0.5s;
  opacity: 0.92;
}

.producto_producto_oferta .descripcion_producto_oferta {
  position: absolute;
  bottom: 90px; 
  left: 17px;    
}

.producto_producto_oferta .descripcion_producto_oferta span {
  font-size: 30px;
  font-weight: 700;
  border-color: #000000;
  color: #daff09;
   -webkit-text-stroke: 0.5px #000000;
}

.txt_producto_oferta{
 -webkit-text-stroke: 0.5px #000000;
}

.producto_producto_oferta .descripcion_producto_oferta h3 {
  font-size: 34px;
  color: #ffe711;
  font-weight: 700;
   -webkit-text-stroke: 0.7px #000000;
 
}

.producto_producto_oferta .descripcion_producto_oferta p {
  font-size: 16px;
  color: #fbff00;
  font-weight: 600;
  margin-top: 9px;
  margin-bottom: 18px;
  font-family: 'Luckiest Guy';
     -webkit-text-stroke: 0.65px #000000;
}

.producto_producto_oferta .descripcion_producto_oferta a {
  color: #080808;
  font-weight: 600;
  padding: 5px 20px;
  background-color: #c22727;
  border-radius: 8px;
  text-decoration: none;
}

.producto_producto_oferta:hover img {
  transform: scale(1.01);
}

.producto_producto_oferta:hover .descripcion_producto_oferta a {
  color: #2c2c2c;
}

 
@media (max-width: 767px) {
   
  .producto_producto_oferta {
    width: 100%;  
  }

  .producto_producto_oferta .descripcion_producto_oferta {
    left: 2px;    
    bottom: 19px;  
  }

  .producto_producto_oferta .descripcion_producto_oferta h3 {
    font-size: 1px;
  }

  .producto_producto_oferta .descripcion_producto_oferta p {
    font-size: 12px;
    margin-top: 4px;
    margin-bottom: 5px;
  }

  .producto_producto_oferta .descripcion_producto_oferta a {
    padding: 6px 20px;
    font-size: 12px;
  }
}










/*eslogan*/

.contenedor_eslogan.position-absolute{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: rgb(255, 251, 0);
  z-index: 1;
  padding: 20px;
  font-family: "Permanent Marker", sans-serif;
}

.pri_terxto h4{
  color: #1ce71c;
  font-family: "Permanent Marker", sans-serif;
  font-size: 50px;
  margin-top: -50px;
 
}

.pri_terxto .seg_texto span{
  font-size: 30px;
  font-family: "Permanent Marker", sans-serif;
  font-weight: 400;
  margin-bottom: 15px;
  color: #ffffff;
}


.pri_terxto h3{
  font-size: 80px;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 1.2;
 
  color: #ff0000;
  font-family: "Luckiest Guy", sans-serif;
}

 
@media(max-width:767px){
  .pri_terxto h3{
    font-size: 40px;
    line-height: 45px;
  }
}
 
@media (min-width: 768px) and (max-width: 991px) {
  .pri_terxto h3 {
    font-size: 48px;
    line-height: 1.2;
  }
}


   
 
 











/*boton admin*/
 
.boton_baja {
    position: relative;
    display: inline-block;
}

 
.boton_baja_boton {
 
    color: rgba(255, 255, 255, 0.582);
 
    font-size: 16px;
    border: none;
    cursor: pointer;
    padding-top: 8px;
    padding-left: 3px;
    transition: all 0.3s;
}


.boton_baja_listo {
    display: none;
}


.boton_baja_contenido {
    display: none;
    padding-left: 3px;
    z-index: 1;
}
 
.boton_baja_listo:checked + .boton_baja_boton + .boton_baja_contenido {
    display: block;
}
