@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Open+Sans:wght@400;600;700&display=swap");

 
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
 

body {
  font-family: "Open Sans", sans-serif;
  color: #0c0c0c;
  background-color: #f8f8f8;
  overflow-x: hidden;
}

.relleno_diseño {
  padding: 90px 0;
}

.relleno_diseño {
  padding: 75px 0;
}

.relleno_diseño-top {
  padding-top: 75px;
}
.usuario_opcion .usuario_link.current i {
  color: #f53d3d ;
}

.relleno_diseño-bottom {
  padding-bottom: 75px;
}

.relleno_diseño-top {
  padding-top: 90px;
}

.relleno_diseño_inferior {
  padding-bottom: 90px;
}

h1,
h2 {
  font-family: 'Dancing Script', cursive;
}

.contenido_titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.contenido_titulo h2 {
  position: relative;
  margin-bottom: 0;
  font-size: 70px;
  font-weight: bold;
}

.contenido_titulo h2 span {
  color: #f53d3d;
}

.contenido_titulo p {
  margin-top: 10px;
  margin-bottom: 0;
}

.contenido_titulo.encabezado_centro {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
 
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}













/*header section*/
.area_principal {
  position: relative;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.caja-fondo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.caja-fondo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.area_principal {
  min-height: auto;
}

.area_principal .caja-fondo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.area_principal .caja-fondo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right top;
     object-position: right top;
}

.seccion_encabezado {
  padding: 15px 0;
}

.seccion_encabezado .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.navbar-brand {
  font-family: 'Dancing Script', cursive;
}

.navbar-brand span {
  font-weight: bold;
  font-size: 32px;
  color: #f53d3d;
}



.contenedor_navegacion-persolizado {
  padding: 0;
}

.contenedor_navegacion-persolizado .navbar-nav {
  padding-left: 18%;
}

.contenedor_navegacion-persolizado .navbar-nav .nav-item .nav-link {
  padding: 5px 20px;
  color: #f53d3d;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

 
 

.contenedor_navegacion-persolizado, .navbar-nav .nav-item:hover .nav-link, .contenedor_navegacion-persolizado .navbar-nav .nav-item.active .nav-link {
  color: #ffffff;
}

.contenedor_navegacion-persolizado .nav_search-btn {
  width: auto;
  height: auto;
  padding: 0;
  border: none;
  color: #ffffff;
  margin: 0 10px;
}

.contenedor_navegacion-persolizado .nav_search-btn:hover {
  color: #f53d3d;
}

.usuario_opcion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.usuario_opcion a {
  margin: 0 10px;
}

.usuario_opcion .usuario_link {
  color: #ffffff;
}

.usuario_opcion .usuario_link:hover {
  color: #f53d3d;
}

.usuario_opcion .cart_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}


.usuario_opcion .cart_link svg {
  width: 17px;
  height: auto;
  fill: #ffffff;
  margin-bottom: 2px;
}

.usuario_opcion .cart_link:hover svg {
  fill: #f53d3d;
}

.usuario_opcion .order_online {
  display: inline-block;
  padding: 8px 30px;
  background-color: #f84b4b;
  color: #ffffff;
  border-radius: 45px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
}

.usuario_opcion .order_online:hover {
  background-color: #f53d3d;
}

.contenedor_navegacion-persolizado .navbar-toggler {
  outline: none;
}

.contenedor_navegacion-persolizado .navbar-toggler {
  padding: 0;
  width: 37px;
  height: 42px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.contenedor_navegacion-persolizado .navbar-toggler span {
  display: block;
  width: 35px;
  height: 4px;
  background-color: #ffffff;
  margin: 7px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  border-radius: 5px;
  transition: all 0.3s;
}

.contenedor_navegacion-persolizado .navbar-toggler span::before, .contenedor_navegacion-persolizado .navbar-toggler span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  top: -10px;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.contenedor_navegacion-persolizado .navbar-toggler span::after {
  top: 10px;
}

.contenedor_navegacion-persolizado .navbar-toggler[aria-expanded="true"] {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.contenedor_navegacion-persolizado .navbar-toggler[aria-expanded="true"] span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.contenedor_navegacion-persolizado .navbar-toggler[aria-expanded="true"] span::before, .contenedor_navegacion-persolizado .navbar-toggler[aria-expanded="true"] span::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 0;
}

/*end header section*/
/* slider section */
.seccion_deslizante {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 45px 0 75px 0;
}

.seccion_deslizante .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.seccion_deslizante #customCarousel1 {
  width: 100%;
  position: unset;
}

.seccion_deslizante .detalle-caja {
  color: #ffffff;
  margin-bottom: 145px;
}

.seccion_deslizante .detalle-caja h1 {
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.seccion_deslizante .detalle-caja p {
  font-size: 14px;
}
.h2adm {
  color: #f53d3d;
}

.seccion_deslizante .detalle-caja a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #f53d3d;
  color: #ffffff;
  border-radius: 45px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
  margin-top: 10px;
}

.seccion_deslizante .detalle-caja a:hover {
  background-color: #f53d3d;
}

.seccion_deslizante .caja-img img {
  width: 100%;
}

.seccion_deslizante .carousel-indicators {
  position: unset;
  margin: 0;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.seccion_deslizante .carousel-indicators li {
  background-color: #ffffff;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  opacity: 1;
}

.filtro_menu li:hover{
 
  color: #f84b4b;
}

.seccion_deslizante .carousel-indicators li.active {
  width: 20px;
  height: 20px;
  background-color: #f53d3d;
}

.seccion_oferta {
  position: relative;
 
}

.seccion_oferta .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 45px;
  border-radius: 5px;
  padding: 20px 15px;
  background-color: #222831;
  color: #ffffff;
}

.seccion_oferta .box .caja-img {
  width: 175px;
  min-width: 175px;
  height: 175px;
  margin-right: 15px;
  position: relative;
  -webkit-transition: all 0.1 0.5s;
  transition: all 0.1 0.5s;
  border-radius: 100%;
  border: 5px solid #f53d3d;
  overflow: hidden;
}

.seccion_oferta .box .caja-img img {
  width: 100%;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.seccion_oferta .box .detalle-caja h5 {
  font-family: 'Dancing Script', cursive;
  font-size: 24px;
  margin: 0;
}

.seccion_oferta .box .detalle-caja h6 {
  font-family: 'Dancing Script', cursive;
  margin: 10px 0;
}

.seccion_oferta .box .detalle-caja h6 span {
  font-size: 2.5rem;
  font-weight: bold;
}

.seccion_oferta .box .detalle-caja a {
  display: inline-block;
  padding: 10px 30px;
  background-color: #f53d3d;
  color: #ffffff;
  border-radius: 45px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
}

.seccion_oferta .box .detalle-caja a:hover {
  background-color: #f53d3d;
}

.seccion_oferta .box .detalle-caja a svg {
  width: 20px;
  height: auto;
  margin-left: 5px;
  fill: #ffffff;
}

.seccion_oferta .box:hover .caja-img img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.carrito_contenido{
  display: flex;
  justify-content: center;
  align-items: center;
  
 
}

.img_carta{
  width: 100%;
  height: 150px;
  object-fit: contain;
  margin-top: 8px;
  
}
.img_carta:hover{
  transform: scale(1.1);
  transition: 1.5s;
}

.card{
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 10px;
}
.card:hover{
   transition: scale(1.05);
   box-shadow: 0 8px 16px ;
}




.seccion_comida .filtro_menu {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
 
  margin: 45px 0 20px 0;
}

.seccion_comida .filtro_menu li {
  padding: 7px 25px;
  cursor: pointer;
  border-radius: 25px;
}

.seccion_comida .filtro_menu li.active {
  background-color: #f53d3d;
  color: #ffffff;
}

.seccion_comida .box {
  position: relative;
  margin-top: 25px;
  background-color: #ffffff;
  border-radius: 10px;
  color: #ffffff;
  border-radius: 15px;
  overflow: hidden;
  background: linear-gradient(to bottom, #f1f2f3 25px, #222831 25px);
}

ul{
  list-style-type:none ;
}

.seccion_comida .box .caja-img {
  background: #f1f2f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 215px;
  border-radius: 0 0 0 45px;
  margin: -1px;
  padding: 25px;
}

.seccion_comida .box .caja-img img {
  max-width: 100%;
  max-height: 145px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.seccion_comida .box .detalle-caja {
  padding: 25px;
}

.seccion_comida .box .detalle-caja h5 {
  font-weight: 600;
}

.seccion_comida .box .detalle-caja p {
  font-size: 15px;
}

.seccion_comida .box .detalle-caja h6 {
  margin-top: 10px;
}

.seccion_comida .box .opciones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.seccion_comida .box .opciones a {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: #f53d3d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.seccion_comida .box .opciones a svg {
  width: 18px;
  height: auto;
  fill: #ffffff;
}

.seccion_comida .box:hover .caja-img img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.seccion_comida .boton-caja {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 45px;
}

.seccion_comida .boton-caja a {
  display: inline-block;
  padding: 10px 55px;
  background-color: #f53d3d;
  color: #ffffff;
  border-radius: 45px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
}

.seccion_comida .boton-caja a:hover {
  background-color: #f53d3d;
}

.seccion_sobre {
  background: #222831;
  color: #ffffff;
 
  
}

.seccion_sobre .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.seccion_sobre .caja-img {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.seccion_sobre .caja-img img {
  width: 100%;
  max-width: 445px;
  position: relative;
  z-index: 2;
}

.seccion_sobre .detalle-caja p {
  margin-top: 15px;
}

.seccion_sobre .detalle-caja a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #f53d3d;
  color: #ffffff;
  border-radius: 45px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
  margin-top: 15px;
}

.seccion_sobre .detalle-caja a:hover {
  background-color: #f53d3d;
}

.reserva_seccion {
  position: relative;
}

.reserva_seccion .contenido_titulo {
  margin-bottom: 25px;
}

.reserva_seccion .formulario_contenedor .form-control {
  width: 100%;
  border: none;
  height: 50px;
  margin-bottom: 25px;
  padding-left: 25px;
  border: 1px solid #999;
  outline: none;
  color: #000000;
  border-radius: 5px;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.reserva_seccion .formulario_contenedor .form-control::-webkit-input-placeholder {
  color: #222222;
}

.reserva_seccion .formulario_contenedor .form-control:-ms-input-placeholder {
  color: #222222;
}

.reserva_seccion .formulario_contenedor .form-control::-ms-input-placeholder {
  color: #222222;
}

.reserva_seccion .formulario_contenedor .form-control::placeholder {
  color: #222222;
}

.reserva_seccion .formulario_contenedor .nice-select .current {
  font-size: 16px;
}

.reserva_seccion .formulario_contenedor button {
  margin-top: 15px;
  border: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 10px 55px;
  background-color: #f53d3d;
  color: #ffffff;
  border-radius: 45px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
}

.reserva_seccion .formulario_contenedor button:hover {
  background-color: #f53d3d;
}


/* client section start */
.cliente_seccion .contenido_titulo {
  margin-bottom: 30px;

}

.cliente_seccion .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 15px;
}

.cliente_seccion .box .caja-img {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 115px;
  position: relative;
  margin-top: 30px;
}

.cliente_seccion .box .caja-img img {
  border-radius: 100%;
  border: 5px solid #f53d3d;
  position: relative;
}

.cliente_seccion .box .caja-img::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  width: 20px;
  height: 20px;
  background-color: #f53d3d;
  -webkit-transform: rotate(45deg) translateX(-50%);
          transform: rotate(45deg) translateX(-50%);
}

.cliente_seccion .box .detalle-caja {
  background-color: #222831;
  color: #ffffff;
  padding: 25px 25px 15px 25px;
  border-radius: 5px;
}

.cliente_seccion .box .detalle-caja h6 {
  font-weight: 600;
  font-size: 18px;
  margin: 15px 0 5px 0;
}

.cliente_seccion .box .detalle-caja p {
  margin-bottom: 0;
  font-size: 15px;
  margin-bottom: 10px;
}

.cliente_seccion .owl-carousel .owl-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 45px;
  padding: 0 15px;
}

.cliente_seccion .owl-carousel .owl-nav .owl-prev,
.cliente_seccion .owl-carousel .owl-nav .owl-next {
  width: 45px;
  height: 45px;
  background-color: #f53d3d;
  color: #ffffff;
  outline: none;
  bottom: 0px;
  font-size: 24px;
  margin: 0 5px;
  border-radius: 100%;
}

 
.contact_seccion .contenido_titulo {
  margin-bottom: 45px;
}

.contact_seccion .formulario_contenedor .form-group {
  margin-bottom: 25px;
}

.contact_seccion .formulario_contenedor input {
  width: 100%;
  border: none;
  height: 50px;
  padding-left: 25px;
  background-color: transparent;
  border: 1px solid #ccc;
  outline: none;
  color: #000000;
  border-radius: 5px;
}

.contact_seccion .formulario_contenedor input::-webkit-input-placeholder {
  color: #222222;
}

.contact_seccion .formulario_contenedor input:-ms-input-placeholder {
  color: #222222;
}

.contact_seccion .formulario_contenedor input::-ms-input-placeholder {
  color: #222222;
}

.contact_seccion .formulario_contenedor input::placeholder {
  color: #222222;
}

.contact_seccion .formulario_contenedor input.message-box {
  height: 120px;
  border-radius: 5px;
}

.contact_seccion .formulario_contenedor .boton-caja {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact_seccion .formulario_contenedor button {
  margin-top: 10px;
  border: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 10px 55px;
  background-color: #f53d3d;
  color: #ffffff;
  border-radius: 0px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
}

.contact_seccion .formulario_contenedor button:hover {
  background-color: #f53d3d;
}

/* footer section*/
.seccion_pie {
  background-color: #212121;
  color: #ffffff;
  padding: 75px 0 40px 0;
  text-align: center;
}

.seccion_pie h4 {
  font-size: 28px;
}

.seccion_pie h4,
.seccion_pie .footer-logo {
  font-weight: 600;
  margin-bottom: 20px;
  font-family: 'Dancing Script', cursive;
}

.seccion_pie p {
  color: #dbdbdb;
}

.seccion_pie .pie_colum {
  margin-bottom: 30px;
}

.seccion_pie .contacto_pie .contact_link_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.seccion_pie .contacto_pie .contact_link_box a {
  margin: 5px 0;
  color: #ffffff;
}

.seccion_pie .contacto_pie .contact_link_box a i {
  margin-right: 5px;
}

.seccion_pie .contacto_pie .contact_link_box a:hover {
  color: #f53d3d;
}

.seccion_pie .footer-logo {
  display: block;
  font-weight: bold;
  font-size: 38px;
  line-height: 1;
  color: #ffffff;
}

.seccion_pie .redes_pie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.seccion_pie .redes_pie a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #222831;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: #ffffff;
  border-radius: 100%;
  margin: 0 2.5px;
  font-size: 18px;
}

.seccion_pie .redes_pie a:hover {
  color: #f53d3d;
}

.seccion_pie .informacion_pie {
  text-align: center;
  margin-top: 25px;
}

.seccion_pie .informacion_pie p {
  color: #ffffff;
  margin: 0;
}

.seccion_pie .informacion_pie p a {
  color: inherit;
}
 






/*producto completo*/
.vistaProducto{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 150px;
  gap: 15px;
  max-width: 900px;
  margin: 0 auto;
}

.ropaPricipal{
  display: flex;
  flex: 1;
  min-width: 200px;
  max-width: 350px;
 justify-content: center;
 background-color: #ffffff;
 border-radius: 8px;
 padding: 15px;
}
.principalimg{
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: contain;
}

.textoVistaProducto{
  display: flex;
  flex: 1;
  min-width: 200px;
  max-width: 380px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

.titulosProductos h1{
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-top: 5px;
}
 
.textoVistaProducto h1{
  font-size: 40px;
  margin-bottom: 10px;
}

 .botonVista{
  text-align: center;
  margin-top: 20px;
 }

.botonVista button{
  margin-top: 10px;
  background-color: #e93030;
  color: #ffffff;
  font-size: 14px;
  padding: 10px 20px;
  border-radius: 5px;

 }

.botonVista button:hover{
  background-color: #7a0606;
  transition: 0.3s;
}

 @media(max-width: 768px){
  .vistaProducto{
    flex-direction: column;
    align-items: center;
  }

  .ropaPricipal, .textoVistaProducto{
    max-width: 90%;
    margin-bottom: 20px;
  }
  
 }

@media (max-width: 600px) {
  

  .titulosProductos h1 {
    font-size: 22px;
  }

  .botonVista button {
    font-size: 14px;
    padding: 8px 16px;
  }
}





/*oferta*/
 
 .area_producto_oferta {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
 
}

 


.area_producto_oferta .contenido_producto_oferta {
  display: flex;  
  flex-wrap: wrap; 
}

.area_producto_oferta .contenido_producto_oferta .producto_producto_oferta {
  position: relative;
  width: 50%;  
  padding: 0;   
}

.imagen_producto_oferta img {
  width: 100%;
  transition: 0.5s;
}

.producto_producto_oferta .descripcion_producto_oferta {
  position: absolute;
  bottom: 90px; 
  left: 17px;    
}

.producto_producto_oferta .descripcion_producto_oferta span {
  font-size: 30px;
  font-weight: 700;
  border-color: #000000;
  color: #daff09;
}

.txt_producto_oferta{
 -webkit-text-stroke: 0.3px #000000;
}

.producto_producto_oferta .descripcion_producto_oferta h3 {
  font-size: 34px;
  color: #fffb11;
  font-weight: 700;
 
}

.producto_producto_oferta .descripcion_producto_oferta p {
  font-size: 16px;
  color: #e6ff03;
  font-weight: 600;
  margin-top: 9px;
  margin-bottom: 18px;
}

.producto_producto_oferta .descripcion_producto_oferta a {
  color: #080808;
  font-weight: 600;
  padding: 5px 20px;
  background-color: #c22727;
  border-radius: 8px;
  text-decoration: none;
}

.producto_producto_oferta:hover img {
  transform: scale(1.01);
}

.producto_producto_oferta:hover .descripcion_producto_oferta a {
  color: #2c2c2c;
}

 
@media (max-width: 767px) {
   
  .producto_producto_oferta {
    width: 100%;  
  }

  .producto_producto_oferta .descripcion_producto_oferta {
    left: 2px;    
    bottom: 19px;  
  }

  .producto_producto_oferta .descripcion_producto_oferta h3 {
    font-size: 1px;
  }

  .producto_producto_oferta .descripcion_producto_oferta p {
    font-size: 12px;
    margin-top: 4px;
    margin-bottom: 5px;
  }

  .producto_producto_oferta .descripcion_producto_oferta a {
    padding: 6px 20px;
    font-size: 12px;
  }
}










/*eslogan*/

.contenedor_eslogan.position-absolute{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: rgb(255, 251, 0);
  z-index: 1;
  padding: 20px;
  font-family: "Permanent Marker", sans-serif;
}

.pri_terxto h4{
  color: #1ce71c;
  font-family: "Permanent Marker", sans-serif;
  font-size: 50px;
  margin-top: -50px;
 
}

.pri_terxto .seg_texto span{
  font-size: 30px;
  font-family: "Permanent Marker", sans-serif;
  font-weight: 400;
  margin-bottom: 15px;
  color: #ffffff;
}


.pri_terxto h3{
  font-size: 80px;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 1.2;
 
  color: #ff0000;
  font-family: "Luckiest Guy", sans-serif;
}

 
@media(max-width:767px){
  .pri_terxto h3{
    font-size: 40px;
    line-height: 45px;
  }
}
 
@media (min-width: 768px) and (max-width: 991px) {
  .pri_terxto h3 {
    font-size: 48px;
    line-height: 1.2;
  }
}



 
 
