@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Open+Sans:wght@400;600;700&display=swap");
 
html{
  scroll-behavior: smooth;
}
 
.material-symbols-outlined {
 
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
  
h1,
h2 ,h3,span{
  font-family: 'Luckiest Guy', cursive;
}


 
 
.menuTitulo{
  font-size: 60px;
} 
 
 
 
.seccion_oferta {
  position: relative;
 
}

.seccion_oferta .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 45px;
  border-radius: 5px;
  padding: 20px 15px;
  background-color: #222831;
  color: #ffffff;
}

.seccion_oferta .box .caja-img {
  width: 175px;
  min-width: 175px;
  height: 175px;
  margin-right: 15px;
  position: relative;
  -webkit-transition: all 0.1 0.5s;
  transition: all 0.1 0.5s;
  border-radius: 100%;
  border: 5px solid #f53d3d;
  overflow: hidden;
}

.seccion_oferta .box .caja-img img {
  width: 100%;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.seccion_oferta .box .detalle-caja h5 {
  font-family: 'Dancing Script', cursive;
  font-size: 24px;
  margin: 0;
}

.seccion_oferta .box .detalle-caja h6 {
  font-family: 'Dancing Script', cursive;
  margin: 10px 0;
}

.seccion_oferta .box .detalle-caja h6 span {
  font-size: 2.5rem;
  font-weight: bold;
}

.seccion_oferta .box .detalle-caja a {
  display: inline-block;
  padding: 10px 30px;
  background-color: #f53d3d;
  color: #ffffff;
  border-radius: 45px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
}

.seccion_oferta .box .detalle-caja a:hover {
  background-color: #f53d3d;
}

.seccion_oferta .box .detalle-caja a svg {
  width: 20px;
  height: auto;
  margin-left: 5px;
  fill: #ffffff;
}

.seccion_oferta .box:hover .caja-img img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.carrito_contenido{
  display: flex;
  justify-content: center;
  align-items: center;
  
 
}

.img_carta{
  width: 100%;
  height: 150px;
  object-fit: contain;
  margin-top: 8px;
  
}
.img_carta:hover{
  transform: scale(1.1);
  transition: 1.5s;
}

.card{
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 10px;
}
.card:hover{
   transition: scale(1.05);
   box-shadow: 0 8px 16px ;
}

 

 

.seccion_comida .box {
  position: relative;
  margin-top: 25px;
  background-color: #ffffff;
  border-radius: 10px;
  color: #ffffff;
  border-radius: 15px;
  overflow: hidden;
  background: linear-gradient(to bottom, #f1f2f3 25px, #222831 25px);
}

ul{
  list-style-type:none ;
}

.seccion_comida .box .caja-img {
  background: #f1f2f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 215px;
  border-radius: 0 0 0 45px;
  margin: -1px;
  padding: 25px;
}

.seccion_comida .box .caja-img img {
  max-width: 100%;
  max-height: 145px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.seccion_comida .box .detalle-caja {
  padding: 25px;
}

.seccion_comida .box .detalle-caja h5 {
  font-weight: 600;
}

.seccion_comida .box .detalle-caja p {
  font-size: 15px;
}

.seccion_comida .box .detalle-caja h6 {
  margin-top: 10px;
}

.seccion_comida .box .opciones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.seccion_comida .box .opciones a {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: #f53d3d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.seccion_comida .box .opciones a svg {
  width: 18px;
  height: auto;
  fill: #ffffff;
}

.seccion_comida .box:hover .caja-img img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.seccion_comida .boton-caja {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 45px;
}

.seccion_comida .boton-caja a {
  display: inline-block;
  padding: 10px 55px;
  background-color: #f53d3d;
  color: #ffffff;
  border-radius: 45px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
}

.seccion_comida .boton-caja a:hover {
  background-color: #f53d3d;
}

.seccion_sobre {
  background: #222831;
  color: #ffffff;
 
  
}

.seccion_sobre .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.seccion_sobre .caja-img {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.seccion_sobre .caja-img img {
  width: 100%;
  max-width: 445px;
  position: relative;
  z-index: 2;
}

.seccion_sobre .detalle-caja p {
  margin-top: 15px;
}

.seccion_sobre .detalle-caja a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #f53d3d;
  color: #ffffff;
  border-radius: 45px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
  margin-top: 15px;
}

.seccion_sobre .detalle-caja a:hover {
  background-color: #f53d3d;
}

.reserva_seccion {
  position: relative;
}

.reserva_seccion .contenido_titulo {
  margin-bottom: 25px;
}
 
 
/* footer section*/
.seccion_pie {
  background-color: #212121;
  color: #ffffff;
  padding: 75px 0 40px 0;
  text-align: center;
}

.seccion_pie h4 {
  font-size: 28px;
}

.seccion_pie h4,
.seccion_pie .footer-logo {
  font-weight: 600;
  margin-bottom: 20px;
  font-family: 'Dancing Script', cursive;
}

.seccion_pie p {
  color: #dbdbdb;
}

.seccion_pie .pie_colum {
  margin-bottom: 30px;
}

.seccion_pie .contacto_pie .contact_link_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.seccion_pie .contacto_pie .contact_link_box a {
  margin: 5px 0;
  color: #ffffff;
}

.seccion_pie .contacto_pie .contact_link_box a i {
  margin-right: 5px;
}

.seccion_pie .contacto_pie .contact_link_box a:hover {
  color: #f53d3d;
}

.seccion_pie .footer-logo {
  display: block;
  font-weight: bold;
  font-size: 38px;
  line-height: 1;
  color: #ffffff;
}

.seccion_pie .redes_pie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.seccion_pie .redes_pie a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #222831;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: #ffffff;
  border-radius: 100%;
  margin: 0 2.5px;
  font-size: 18px;
}

.seccion_pie .redes_pie a:hover {
  color: #f53d3d;
}

.seccion_pie .informacion_pie {
  text-align: center;
  margin-top: 25px;
}

.seccion_pie .informacion_pie p {
  color: #ffffff;
  margin: 0;
}

.seccion_pie .informacion_pie p a {
  color: inherit;
}
  

/*oferta*/  
.area_producto_oferta {
  display: block;
  width: 100%;
} 
.contenido_producto_oferta {
  display: flex;
  flex-wrap: wrap;       
  gap: 20px;           
  justify-content: center; 
  padding: 20px;
} 
.producto_producto_oferta {
  position: relative; 
  width: 100%; 
  max-width: 500px; 
  margin-bottom: 20px;
  overflow: hidden; 
  border-radius: 8px; 
} 
@media (min-width: 768px) {
  .producto_producto_oferta { 
    width: calc(50% - 20px); 
    max-width: none;  
  }
} 
.imagen_producto_oferta {
  position: relative; 
  width: 100%;
  height: 100%;
}

.imagen_producto_oferta img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.5s ease;
  object-fit: cover;
  z-index: 1;
} 
.producto_producto_oferta:hover img {
  transform: scale(1.05);
} 
.imagen_producto_oferta::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.4;
  z-index: 2;
  pointer-events: none;  
} 
.producto_producto_oferta .descripcion_producto_oferta {
  position: absolute;
  bottom: 20px; 
  left: 20px;    
  z-index: 3;  
  color: white;
  padding-right: 10px;  
}

/* Estilos de Texto  */
.txt_producto_oferta,
.producto_producto_oferta .descripcion_producto_oferta span,
.producto_producto_oferta .descripcion_producto_oferta h3,
.producto_producto_oferta .descripcion_producto_oferta p {
  -webkit-text-stroke: 0.5px #000000;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.7);  
}

.producto_producto_oferta .descripcion_producto_oferta h3 {
  font-size: 34px; 
  font-weight: 700;
  margin: 0;
  text-align: start;
}

.producto_producto_oferta .descripcion_producto_oferta span {
  font-size: 20px;
  font-weight: 700;
}

.producto_producto_oferta .descripcion_producto_oferta p {
  font-size: 16px; 
  font-weight: 600;
  margin-top: 9px;
  margin-bottom: 18px;
  font-family: 'Luckiest Guy', cursive; 
} 
.producto_producto_oferta .descripcion_producto_oferta a {
  color: #edebeb;
  font-weight: 600;
  padding: 8px 20px;
  background-color: #c22727;
  border-radius: 8px;
  text-decoration: none;
  display: inline-block;  
  transition: background-color 0.3s;
  text-shadow: none;  
  -webkit-text-stroke: 0; 
}

.producto_producto_oferta .descripcion_producto_oferta a:hover{
  background-color: #ff2121;
} 

@media (max-width: 767px) {
  
  .contenido_producto_oferta {
     padding: 10px;  
     gap: 15px;
  }

  .producto_producto_oferta .descripcion_producto_oferta {
    left: 10px;    
    bottom: 15px;  
  }

  /*fuentes para celular */
  .producto_producto_oferta .descripcion_producto_oferta h3 {
    font-size: 24px;  
  } 
  .producto_producto_oferta .descripcion_producto_oferta span {
    font-size: 16px;
  } 
  .producto_producto_oferta .descripcion_producto_oferta p {
    font-size: 13px;
    margin-top: 4px;
    margin-bottom: 10px;
    line-height: 1.2;
  } 
  .producto_producto_oferta .descripcion_producto_oferta a {
    padding: 6px 15px;
    font-size: 13px;
  }
}

/*ajustar carrusel para que no quede chico antes los otros grid*/
.grid-area-carousel {
    display: flex; /* Ayuda a eliminar espacios fantasma */
}
.grid-area-carousel img {
    height: 100% !important;
    width: 100%;
    object-fit: cover;  
    display: block;    
}
.grid-area-carousel .carousel,
.grid-area-carousel .carousel-inner,
.grid-area-carousel .carousel-item {
    height: 100% !important;
    width: 100%;
}


/*escroll en el carrucel*/
 
.scroll-down-arrow {
  animation: bounce 2s infinite;
  width: 20px;
  height: 20px;
  text-decoration: none; 
 
  z-index: 10;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(10px);
  }
  60% {
    transform: translateY(5px);
  }
}

 

.titulo_navbar{
  font-family: "Luckiest Guy", sans-serif;
}


/*carta producto*/
.cartaPrincipal img{
 object-fit: scale-down;
     height: 300px;
    width: 100%;
}
 
 

/*ver contraseña y ocultarla*/
 
.contraseña-registro {
  position: relative;  
  width: 100%;
} 
.contraseña-input{
  padding-right: 40px;  
}
 
.contraseña-icono{
  position: absolute;
  right: 10px;          
  top: 50%;           
  transform: translateY(-50%);  
  color: #080808;       
        
  user-select: none;    
}

/*eslogan*/

.contenedor_eslogan.position-absolute{
  top: 34%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  padding: 20px;
  font-family: "Permanent Marker", sans-serif;
}

.pri_terxto h4{
  color: #1ce71c;
  font-family: "Permanent Marker", sans-serif;
  font-size: 50px;
  padding: 18px;
  margin-top: -50px;
 
}

.pri_terxto .seg_texto span{
  font-size: 30px;
  font-family: "Permanent Marker", sans-serif;
  font-weight: 400;
  margin-bottom: 15px;
  color: #ffffff;
}


.pri_terxto h3{
  font-size: 80px;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 1.2;
 
  color: #ff0000;
  font-family: "Luckiest Guy", sans-serif;
}

 
@media(max-width:767px){
  .pri_terxto h3{
    font-size: 40px;
    line-height: 45px;
  }
}
 
@media (min-width: 768px) and (max-width: 991px) {
  .pri_terxto h3 {
    font-size: 48px;
    line-height: 1.2;
  }
}


   
 
 


/*ajuste de tamaño de las carta de compra pata que la img tenga el mismo tamaño*/
.card img{
  height: 300px; 
  width: 100%;
  object-fit: scale-down; 
  padding: 10px;
}







/*boton admin*/
 
.boton_baja {
    position: relative;
    display: inline-block;
}

 
.boton_baja_boton {
 
    color: rgba(255, 255, 255, 0.582);
 
    font-size: 16px;
    border: none;
    cursor: pointer;
    padding-top: 8px;
    padding-left: 3px;
    transition: all 0.3s;
}


.boton_baja_listo {
    display: none;
}


.boton_baja_contenido {
    display: none;
    padding-left: 3px;
    z-index: 1;
}
 
.boton_baja_listo:checked + .boton_baja_boton + .boton_baja_contenido {
    display: block;
}







